### Group Members:
* Courtney Mueller
* Angel Camacho
* Matthew Grover

In [2]:
# importing potentially necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from scipy.stats import pearsonr
from sklearn.metrics import mean_squared_error
from math import sqrt

***
## First Dataset: [FirstDataset](https://www.kaggle.com/datasets/jummyegg/rawg-game-dataset/code?resource=download)
#### Display information about rows and columns in dataset:

In [3]:
df1 = pd.read_csv('game_info.csv') # read in the dataset
print("shape: ", df1.shape) # display dataset information
df1.head() # print first few lines of dataset#
df1

shape:  (345667, 27)

,id,slug,name,metacritic,released,tba,updated,website,rating,rating_top,...,developers,genres,publishers,esrb_rating,added_status_yet,added_status_owned,added_status_beaten,added_status_toplay,added_status_dropped,added_status_playing
0,1,dgeneration-hd,D/Generation HD,NaN,2015-10-23,False,2019-09-17T11:58:57,http://dgeneration.net,0.0,0,...,West Coast Software||West Coast Software Limited,Adventure||Puzzle,West Coast Software||West Coast Software Limited,Everyone 10+,3,70,0,2,0,0
1,10,g-prime,G Prime Into The Rain,NaN,2016-01-06,False,2019-11-06T23:04:19,NaN,0.0,0,...,Soma Games,Simulation||Indie,Code-Monkeys||Code-Monkeys LLC||Immanitas Ente...,Everyone,0,39,0,1,0,0
2,100,land-sliders,Land Sliders,NaN,2015-09-24,False,2019-10-22T13:56:16,http://prettygreat.com,0.0,0,...,Prettygreat Pty. Ltd.,Adventure||Arcade,Prettygreat Pty. Ltd.,Everyone 10+,0,0,1,1,1,0
3,1000,pixel-gear,Pixel Gear,NaN,2016-10-20,False,2019-08-28T22:16:02,https://www.facebook.com/Geronimo-Interactive-...,0.0,0,...,Oasis Games Limited||Geronimo Interactive,Action||Indie,Geronimo Interactive,Teen,0,0,0,2,0,0
4,10000,gods-and-idols,Gods and Idols,NaN,2016-12-12,False,2019-09-17T13:37:13,http://www.godsandidols.com/,0.0,0,...,Viking Tao,RPG||Strategy||Massively Multiplayer,Viking Tao,NaN,1,57,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345662,99994,holy-or-dead,Holy or Dead,NaN,2017-05-17,False,2019-01-09T12:41:06,NaN,0.0,0,...,Ralidon,NaN,NaN,NaN,0,0,0,0,0,0
345663,99995,airstrike-hd-demo,Airstrike HD Demo,NaN,2016-03-04,False,2019-01-09T12:41:06,NaN,0.0,0,...,Fifth Dimension Company,Action,NaN,NaN,0,0,0,0,0,0
345664,99997,uranias-mirror,Urania's Mirror,NaN,2016-04-25,False,2019-01-09T12:41:06,NaN,0.0,0,...,sneakthief,Adventure,NaN,NaN,0,0,0,0,0,0
345665,99998,simucities,Simucities,NaN,2017-05-26,False,2019-01-09T12:41:06,NaN,0.0,0,...,keypixels,NaN,NaN,NaN,0,0,0,0,0,0
345666,99999,pocket-assault,Pocket Assault (itch),NaN,2015-08-20,False,2019-01-09T12:41:06,NaN,0.0,0,...,Carsten_Ostermann,Shooter,NaN,NaN,0,0,0,0,0,0

#### Table displaying information for genre:
The above dataset information about various video game titles including its publisher and development company. Below we plot this information and display genre frequency. We base this upon the genre count information given in the dataset as well. Based on the data gathered in our dataset it can be determined that we have a sufficient amount of information on the game titles given in order to produce recommendations

In [ ]:
# Table dispaying information for genre
sns.set(rc={"figure.figsize":(20, 20)}) #width = 8, height = 4
ax = sns.countplot(x="genres",data=df1)


## Second Dataset: [SecondDataset](https://www.kaggle.com/datasets/gregorut/videogamesales)
#### Display information about rows and columns in dataset:

In [2]:
df2 = pd.read_csv('vgsales.csv') # read in the dataset
print("shape: ",df2.shape) # display dataset information
df2.head() # print first few lines of dataset

shape:  (16598, 11)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37


# **Analysis**

The two datasets that we have chosen for our project have both shown sufficient instances and provide viable statistics for a reliable analysis. While one has a larger variety of genres for nuanced analysis. The second data set has the smaller set of data but also a more concise set of genres, making it easier for us to analyze the data based on genre of game. Having some type of filter system for genre is something we wanted to rely heavily upon for our database analysis so having something that has that implemented prior makes it a little easier on us to conceptualize how we want to bring our project together. After having a meeting and coming together to agree upon the direction we want to take our project in - we decided that the main focus of our project is going to be grouping together game titles based upon genre in hopes to establish a target audience. We are hoping with this target audience we will be able to initiate an increase in willingness to try new game titles based upon recommendations based on our anaylsis. Due to the nature of this problem, we see our project being a good example of a "clustering" data mining technique.

## Display Attribute Types for dataset2:

In [3]:
# Display datatypes for all columns of second database
df2.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

## Display data ranges for both datasets:
Data Ranges for dataset2:

In [4]:
# minimum value for NA_Sales in dataset2
minNA = df2['NA_Sales'].min() # min value for Global_Sales in df2
maxNA = df2['Global_Sales'].max() # max value for Global_Sales in df2
print('\nMinimum Value in NA_Sales:', minNA)
print('Maximum Value in NA_Sales:', maxNA)

# minimum value for EU_Sales in dataset2
minEU = df2['EU_Sales'].min() # min value for Global_Sales in df2
maxEU = df2['Global_Sales'].max() # max value for Global_Sales in df2
print('\nMinimum Value in EU_Sales:', minEU)
print('Maximum Value in EU_Sales:', maxEU)

# minimum value for JP_Sales in dataset2
minJP = df2['JP_Sales'].min() # min value for Global_Sales in df2
maxJP = df2['Global_Sales'].max() # max value for Global_Sales in df2
print('\nMinimum Value in JP_Sales:', minJP)
print('Maximum Value in JP_Sales:', maxJP)

# minimum value for Other_Sales in dataset2
minOther = df2['Other_Sales'].min() # min value for Global_Sales in df2
maxOther = df2['Global_Sales'].max() # max value for Global_Sales in df2
print('\nMinimum Value in Other_Sales:', minOther)
print('Maximum Value in Other_Sales:', maxOther)

# minimum value for Global_Sales in dataset2
minGlobal = df2['Global_Sales'].min() # min value for Global_Sales in df2
maxGlobal = df2['Global_Sales'].max() # max value for Global_Sales in df2
print('\nMinimum Value in Global_Sales:', minGlobal)
print('Maximum Value in Global_Sales:', maxGlobal)

Minimum Value in NA_Sales: 0.0
Maximum Value in NA_Sales: 82.74

Minimum Value in EU_Sales: 0.0
Maximum Value in EU_Sales: 82.74

Minimum Value in JP_Sales: 0.0
Maximum Value in JP_Sales: 82.74

Minimum Value in Other_Sales: 0.0
Maximum Value in Other_Sales: 82.74

Minimum Value in Global_Sales: 0.01
Maximum Value in Global_Sales: 82.74

---

## Apriori Analysis
This is where we will use the Apriori algorithm in order to better support our analysis. The Apriori method allows us to find frequent itemsets within our data for a boolean association rule. We found that completing this analysis would be easier and produce better / more reliable results if we used it on our second dataset (df2). This is because our hypothesis involves examining the correlation that exists between the Publishers and the Sales in each region. Our second data contains information regarding the publishers for each video game title present as well as the sales per region (NA, EU, Japan, other and Global).

In [5]:
# importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# display datasets again
df2

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [6]:
# display all column names
df2.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [7]:
# exploring all different publishers in the dataset
df2.Publisher.unique()

array(['Nintendo', 'Microsoft Game Studios', 'Take-Two Interactive',
       'Sony Computer Entertainment', 'Activision', 'Ubisoft',
       'Bethesda Softworks', 'Electronic Arts', 'Sega', 'SquareSoft',
       'Atari', '505 Games', 'Capcom', 'GT Interactive',
       'Konami Digital Entertainment',
       'Sony Computer Entertainment Europe', 'Square Enix', 'LucasArts',
       'Virgin Interactive', 'Warner Bros. Interactive Entertainment',
       'Universal Interactive', 'Eidos Interactive', 'RedOctane',
       'Vivendi Games', 'Enix Corporation', 'Namco Bandai Games',
       'Palcom', 'Hasbro Interactive', 'THQ', 'Fox Interactive',
       'Acclaim Entertainment', 'MTV Games', 'Disney Interactive Studios',
       nan, 'Majesco Entertainment', 'Codemasters', 'Red Orb', 'Level 5',
       'Arena Entertainment', 'Midway Games', 'JVC', 'Deep Silver',
       '989 Studios', 'NCSoft', 'UEP Systems', 'Parker Bros.', 'Maxis',
       'Imagic', 'Tecmo Koei', 'Valve Software', 'ASCII Entertainment',
       'Mindscape', 'Infogrames', 'Unknown', 'Square', 'Valve',
       'Activision Value', 'Banpresto', 'D3Publisher',
       'Oxygen Interactive', 'Red Storm Entertainment', 'Video System',
       'Hello Games', 'Global Star', 'Gotham Games', 'Westwood Studios',
       'GungHo', 'Crave Entertainment', 'Hudson Soft', 'Coleco',
       'Rising Star Games', 'Atlus', 'TDK Mediactive', 'ASC Games',
       'Zoo Games', 'Accolade', 'Sony Online Entertainment', '3DO', 'RTL',
       'Natsume', 'Focus Home Interactive', 'Alchemist',
       'Black Label Games', 'SouthPeak Games', 'Mastertronic', 'Ocean',
       'Zoo Digital Publishing', 'Psygnosis', 'City Interactive',
       'Empire Interactive', 'Success', 'Compile', 'Russel', 'Taito',
       'Agetec', 'GSP', 'Microprose', 'Play It', 'Slightly Mad Studios',
       'Tomy Corporation', 'Sammy Corporation', 'Koch Media',
       'Game Factory', 'Titus', 'Marvelous Entertainment', 'Genki',
       'Mojang', 'Pinnacle', 'CTO SpA', 'TalonSoft', 'Crystal Dynamics',
       'SCi', 'Quelle', 'mixi, Inc', 'Rage Software', 'Ubisoft Annecy',
       'Scholastic Inc.', 'Interplay', 'Mystique', 'ChunSoft',
       'Square EA', '20th Century Fox Video Games', 'Avanquest Software',
       'Hudson Entertainment', 'Nordic Games', 'Men-A-Vision', 'Nobilis',
       'Big Ben Interactive', 'Touchstone', 'Spike', 'Jester Interactive',
       'Nippon Ichi Software', 'LEGO Media', 'Quest',
       'Illusion Softworks', 'Tigervision', 'Funbox Media',
       'Rocket Company', 'Metro 3D', 'Mattel Interactive', 'IE Institute',
       'Rondomedia', 'Sony Computer Entertainment America',
       'Universal Gamex', 'Ghostlight', 'Wizard Video Games',
       'BMG Interactive Entertainment', 'PQube', 'Trion Worlds', 'Laguna',
       'Ignition Entertainment', 'Takara', 'Kadokawa Shoten', 'Destineer',
       'Enterbrain', 'Xseed Games', 'Imagineer',
       'System 3 Arcade Software', 'CPG Products', 'Aruze Corp',
       'Gamebridge', 'Midas Interactive Entertainment', 'Jaleco',
       'Answer Software', 'XS Games', 'Activision Blizzard',
       'Pack In Soft', 'Rebellion', 'Xplosiv', 'Ultravision',
       'GameMill Entertainment', 'Wanadoo', 'NovaLogic', 'Telltale Games',
       'Epoch', 'BAM! Entertainment', 'Knowledge Adventure', 'Mastiff',
       'Tetris Online', 'Harmonix Music Systems', 'ESP', 'TYO',
       'Telegames', 'Mud Duck Productions', 'Screenlife', 'Pioneer LDC',
       'Magical Company', 'Mentor Interactive', 'Kemco',
       'Human Entertainment', 'Avanquest', 'Data Age',
       'Electronic Arts Victor', 'Black Bean Games', 'Jack of All Games',
       '989 Sports', 'Takara Tomy', 'Media Rings', 'Elf', 'Kalypso Media',
       'Starfish', 'Zushi Games', 'Jorudan', 'Destination Software, Inc',
       'New', 'Brash Entertainment', 'ITT Family Games', 'PopCap Games',
       'Home Entertainment Suppliers', 'Ackkstudios', 'Starpath Corp.',
       'P2 Games', 'BPS', 'Gathering of Developers', 'NewKidCo',
       'Storm City Games', 'CokeM Interactive', 'CBS Electronics',
       'Magix', 'Marvelous Interactive', 'Nihon Falcom Corporation',
       'Wargaming.net', 'Angel Studios', 'Arc System Works', 'Playmates',
       'SNK Playmore', 'Hamster Corporation', 'From Software',
       'Nippon Columbia', 'Nichibutsu', 'Little Orbit',
       'Conspiracy Entertainment', 'DTP Entertainment', 'Hect',
       'Mumbo Jumbo', 'Pacific Century Cyber Works', 'Indie Games',
       'Liquid Games', 'NEC', 'Axela', 'ArtDink', 'Sunsoft', 'Gust',
       'SNK', 'NEC Interchannel', 'FuRyu', 'Xing Entertainment',
       'ValuSoft', 'Victor Interactive', 'Detn8 Games',
       'American Softworks', 'Nordcurrent', 'Bomb', 'Falcom Corporation',
       'AQ Interactive', 'CCP', 'Milestone S.r.l.', 'Sears',
       'JoWood Productions', 'Seta Corporation', 'On Demand', 'NCS',
       'Aspyr', 'Gremlin Interactive Ltd', 'Agatsuma Entertainment',
       'Compile Heart', 'Culture Brain', 'Mad Catz', 'Shogakukan',
       'Merscom LLC', 'Rebellion Developments', 'Nippon Telenet',
       'TDK Core', 'bitComposer Games', 'Foreign Media Games', 'Astragon',
       'SSI', 'Kadokawa Games', 'Idea Factory',
       'Performance Designed Products', 'Asylum Entertainment',
       'Core Design Ltd.', 'PlayV', 'UFO Interactive',
       'Idea Factory International', 'Playlogic Game Factory',
       'Essential Games', 'Adeline Software', 'Funcom',
       'Panther Software', 'Blast! Entertainment Ltd', 'Game Life',
       'DSI Games', 'Avalon Interactive', 'Popcorn Arcade',
       'Neko Entertainment', 'Vir2L Studios', 'Aques', 'Syscom',
       'White Park Bay Software', 'System 3', 'Vatical Entertainment',
       'Daedalic', 'EA Games', 'Media Factory', 'Vic Tokai',
       'The Adventure Company', 'Game Arts', 'Broccoli', 'Acquire',
       'General Entertainment', 'Excalibur Publishing', 'Imadio',
       'Swing! Entertainment', 'Sony Music Entertainment', 'Aqua Plus',
       'Paradox Interactive', 'Hip Interactive',
       'DreamCatcher Interactive', 'Tripwire Interactive', 'Sting',
       'Yacht Club Games', 'SCS Software', 'Bigben Interactive',
       'Havas Interactive', 'Slitherine Software', 'Graffiti', 'Funsta',
       'Telstar', 'U.S. Gold', 'DreamWorks Interactive',
       'Data Design Interactive', 'MTO', 'DHM Interactive', 'FunSoft',
       'SPS', 'Bohemia Interactive', 'Reef Entertainment',
       'Tru Blu Entertainment', 'Moss', 'T&E Soft', 'O-Games',
       'Aksys Games', 'NDA Productions', 'Data East',
       'Time Warner Interactive', 'Gainax Network Systems', 'Daito',
       'O3 Entertainment', 'Gameloft', 'Xicat Interactive',
       'Simon & Schuster Interactive', 'Valcon Games', 'PopTop Software',
       'TOHO', 'HMH Interactive', '5pb', 'Cave',
       'CDV Software Entertainment', 'Microids', 'PM Studios', 'Paon',
       'Micro Cabin', 'GameTek', 'Benesse', 'Type-Moon',
       'Enjoy Gaming ltd.', 'Asmik Corp', 'Interplay Productions',
       'Asmik Ace Entertainment', 'inXile Entertainment', 'Image Epoch',
       'Phantom EFX', 'Evolved Games', 'responDESIGN',
       'Culture Publishers', 'Griffin International', 'Hackberry',
       'Hearty Robin', 'Nippon Amuse', 'Origin Systems', 'Seventh Chord',
       'Mitsui', 'Milestone', 'Abylight', 'Flight-Plan', 'Glams', 'Locus',
       'Warp', 'Daedalic Entertainment', 'Alternative Software',
       'Myelin Media', 'Mercury Games', 'Irem Software Engineering',
       'Sunrise Interactive', 'Elite', 'Evolution Games', 'Tivola',
       'Global A Entertainment', 'Edia', 'Athena', 'Aria', 'Gamecock',
       'Tommo', 'Altron', 'Happinet', 'iWin', 'Media Works', 'Fortyfive',
       'Revolution Software', 'Imax', 'Crimson Cow', '10TACLE Studios',
       'Groove Games', 'Pack-In-Video', 'Insomniac Games',
       'Ascaron Entertainment GmbH', 'Asgard', 'Ecole', 'Yumedia',
       'Phenomedia', 'HAL Laboratory', 'Grand Prix Games', 'DigiCube',
       'Creative Core', 'Kaga Create', 'WayForward Technologies',
       'LSP Games', 'ASCII Media Works', 'Coconuts Japan', 'Arika',
       'Ertain', 'Marvel Entertainment', 'Prototype',
       'TopWare Interactive', 'Phantagram', '1C Company',
       'The Learning Company', 'TechnoSoft', 'Vap', 'Misawa', 'Tradewest',
       'Team17 Software', 'Yeti', 'Pow', 'Navarre Corp', 'MediaQuest',
       'Max Five', 'Comfort', 'Monte Christo Multimedia', 'Pony Canyon',
       'Riverhillsoft', 'Summitsoft', 'Milestone S.r.l', 'Playmore',
       'MLB.com', 'Kool Kizz', 'Flashpoint Games', '49Games',
       'Legacy Interactive', 'Alawar Entertainment', 'CyberFront',
       'Cloud Imperium Games Corporation', 'Societa',
       'Virtual Play Games', 'Interchannel', 'Sonnet', 'Experience Inc.',
       'Zenrin', 'Iceberg Interactive', 'Ivolgamus', '2D Boy',
       'MC2 Entertainment', 'Kando Games', 'Just Flight', 'Office Create',
       'Mamba Games', 'Fields', 'Princess Soft', 'Maximum Family Games',
       'Berkeley', 'Fuji', 'Dusenberry Martin Racing', 'imageepoch Inc.',
       'Big Fish Games', 'Her Interactive', 'Kamui', 'ASK',
       'Headup Games', 'KSS', 'Cygames', 'KID', 'Quinrose', 'Sunflowers',
       'dramatic create', 'TGL', 'Encore', 'Extreme Entertainment Group',
       'Intergrow', 'G.Rev', 'Sweets', 'Kokopeli Digital Studios',
       'Number None', 'Nexon', 'id Software', 'BushiRoad', 'Tryfirst',
       'Strategy First', '7G//AMES', 'GN Software', "Yuke's",
       'Easy Interactive', 'Licensed 4U', 'FuRyu Corporation',
       'Lexicon Entertainment', 'Paon Corporation', 'Kids Station', 'GOA',
       'Graphsim Entertainment', 'King Records', 'Introversion Software',
       'Minato Station', 'Devolver Digital', 'Blue Byte', 'Gaga',
       'Yamasa Entertainment', 'Plenty', 'Views', 'fonfun', 'NetRevo',
       'Codemasters Online', 'Quintet', 'Phoenix Games', 'Dorart',
       'Marvelous Games', 'Focus Multimedia', 'Imageworks',
       'Karin Entertainment', 'Aerosoft', 'Technos Japan Corporation',
       'Gakken', 'Mirai Shounen', 'Datam Polystar', 'Saurus', 'HuneX',
       'Revolution (Japan)', 'Giza10', 'Visco', 'Alvion', 'Mycom', 'Giga',
       'Warashi', 'System Soft', 'Sold Out', 'Lighthouse Interactive',
       'Masque Publishing', 'RED Entertainment', 'Michaelsoft',
       'Media Entertainment', 'New World Computing', 'Genterprise',
       'Interworks Unlimited, Inc.', 'Boost On', 'Stainless Games',
       'EON Digital Entertainment', 'Epic Games', 'Naxat Soft',
       'Ascaron Entertainment', 'Piacci', 'Nitroplus',
       'Paradox Development', 'Otomate', 'Ongakukan', 'Commseed',
       'Inti Creates', 'Takuyo', 'Interchannel-Holon', 'Rain Games',
       'UIG Entertainment'], dtype=object)

In [8]:
# drop all rows that are missing values for publishers
df2.dropna(axis=0, subset=['Publisher'], inplace=True)
df2

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [9]:
# to make sure the first row is not thought of as the heading
dataNoHeader = pd.read_csv('vgsales.csv', header = None)
dataNoHeader.shape

(16599, 11)

In [10]:
dataNoHeader

,0,1,2,3,4,5,6,7,8,9,10
0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33
...,...,...,...,...,...,...,...,...,...,...,...
16594,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0,0,0,0.01
16595,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0,0,0,0.01
16596,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0,0,0,0,0.01
16597,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0,0.01,0,0,0.01
16598,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0,0,0,0.01

In [ ]:
#Transforming the list into a list of lists, so that each transaction can be indexed easier
transactions = []
for i in range(0, df2.shape[0]):
    transactions.append([str(df2.values[i, j]) for j in range(0, 11)])

print(transactions[0])

In [ ]:
from apyori import apriori
rules = apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2)

# viewing the rules
results = list(rules)

# transferring the list to a table
results = pd.DataFrame(results)
results

#results.head(5) # display first couple rows

In [ ]:
results.to_csv('results.csv')

Another version of Apriori Algorithm

In [ ]:
# initializing the list
transacts = []

# populating a list of transactions
for i in range(0, 16599):
    transacts.append([str(dataNoHeader.values[i,j]) for j in range(0, 11)])

print(transacts[0])

---
# Data Exploration
## Scatter Plots
Draw scatter plots for comparisons between all regions we have available information for, and the overall global sales figures.

In [ ]:
# draw scatter plots between the US sales + Global Sales
# draw scatter plots between the EU sales + Global Sales
# draw scatter plots between the JP sales + Global Sales
# draw scatter plots between the Other sales + Global Sales
# drawing scatter plots between all countries we have information on + global sales allows us to make a relation between the country's market and the overall global market
df2.plot.scatter(x = 'NA_Sales',
                 y = 'Global_Sales',
                 c = 'DarkBlue',
                 title = 'Comparison of NA and Global Sales',
                 s = 14);

Based on the above scatter plot it can be seen that there is a fairly positive relation between North American and global sales. This shows a positive relationship between the countries market and the global market.

In [ ]:
# draw scatter plots between the EU sales + Global Sales
df2.plot.scatter(x = 'EU_Sales',
                 y = 'Global_Sales',
                 c = 'DarkBlue',
                 title = 'Comparison of EU and Global Sales',
                 s = 14);

Based on the above scatter plot it can be seen that there is a fairly positive relation between European and global sales. This shows a positive relationship between the countries market and the global market.

In [ ]:
# draw scatter plots between the JP sales + Global Sales
df2.plot.scatter(x = 'JP_Sales',
                 y = 'Global_Sales',
                 c = 'DarkBlue',
                 title = 'Comparison of JP and Global Sales',
                 s = 30);

Based on the above scatter plot it can be seen, there is a *somewhat* positive relation between Japanese and global sales but not nearly as strong as European or North American sales. This would still show a positive relationship between the countries market and the global market, but it could be said that this is the weakest relationship amongst the information present about other countries.

In [ ]:
# draw scatter plots between the Other sales + Global Sales
df2.plot.scatter(x = 'Other_Sales',
                 y = 'Global_Sales',
                 c = 'DarkBlue',
                 title = 'Comparison of JP and Global Sales',
                 s = 30);

Again, based on the above scatter plot it can be seen that there is a *somewhat* positive relation between other countries and global sales. This would also still be considered to show a positive relationship between the countries market and the global market, but could be seen as one of the weaker relations but still not be considered the weakest.

## Bar Graphs

We have a few different columns or variables that could be considered categorical data or values. Categorical values can be described as: "Data types that are corresponding to categorical variables in statics. They take on limited, and usually a fixed number of possible values". In our second dataset we can see multiple categorical variables including: "Platform", "Genre" and "Publisher". Below we create several bar graphs to show the relation between each categorical variables present and the target (global sales / country sales).

In [ ]:
# plotting bar graph showing the relation between Platform and Global Sales
# importing matplotlib
df2.plot(x="Platform", y="Global_Sales", kind="bar")